@tailwind base;
@tailwind components;
@tailwind utilities;



.ant-typography {
  @apply font-sans; /* Sử dụng font sans-serif từ Tailwind */
}

:root {
  --antd-font-family: 'Roboto', sans-serif;
}
* {
  font-family: 'Roboto', sans-serif !important;
}

.icon-cart {
  font-size: 22px;
  position: relative;
  color: #212121;
}

body.modal-open {
  overflow: auto !important;
}

.active {
  border: 2px solid #ee4d2d;
  position: absolute;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  top: 0;
}

a {
  color: inherit !important; /* Giữ màu theo parent */
  text-decoration: none; /* Xóa gạch chân nếu cần */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
